@media only screen and (min-width: 38rem) {
    header, nav, main, footer {
        max-width: 900px;
        margin: 0 auto;
    }
    header {
        grid-template-columns: 54px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
    }

    .navigation ul {
        display: flex;
        list-style: none;
        align-items: stretch;
    }

    .navigation a {
        border: none;
    }
}