@media (min-width: 641px) {    
    .discover-card {
        justify-items: left;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "title title"
        "picture description"
        "picture location"
        "action action";
        row-gap: 0.5rem;
        column-gap: 1rem;
    }

    .discover-card figure img:hover {
        transform: translateY(-4px) scale(1.02);
        filter: brightness(1.05);
        box-shadow: 0 8px 16px var(--shadow);
    }
}