:root {
    --color-primary: #0b2545;
    --color-secondary: #134074;
    --color-accent: #EEB902;
    --color-bg: #F4F7F6;
    --color-white: #FFFFFF;
    --color-text: #1D2A44;
    --shadow: rgba(0, 0, 0, 0.1);
    --divider: rgba(255, 255, 255, 0.15);
    
    --font-headings: 'Poppins', sans-serif;
    --font-body: 'Inter', sans-serif;
    
    --max-width: 1200px;
    --transition: all 0.3s ease;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-body);
    background-color: var(--color-bg);
    color: var(--color-text);
    line-height: 1.6;
    font-size: 1rem;
}

header {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 12px var(--shadow);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    margin: 0 auto;
}

.logo-container {
    display: flex;
    align-items:flex-end;
    gap: 0.75rem;
}

.logo {
    height: 3rem;
    width: auto;
}

.site-name {
    font-family: var(--font-headings);
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-white);
    line-height: 2rem;
}

.subtitle {
    font-size: clamp(1rem, 5vw, 1.3rem);
    font-weight: 400;
    color: var(--color-accent);
    line-height: 1rem;
    margin-top: 0.3rem;
}

.menu-button {
    display: block;
    font-size: 1.5rem;
    font-weight: 900;
	border: 0;
	background: none;
	color: var(--color-white);
    padding: 0.75rem;
}

.menu-button::before {
	content: "☰";
}

.menu-button.open::before {
	content: "✕";
}

nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--color-secondary);
}

nav.open {
    display: block;
    animation: fadeIn 0.3s ease;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav ul a {
    font-family: var(--font-headings);
    color: var(--color-white);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    position: relative;
    display: block;
}

nav ul li.current a {
    color: var(--color-accent);
    border-radius: 32px;
}

nav ul li a:hover {
    color: var(--color-accent);
}

h1, h2 {
    font-family: var(--font-headings);
    color: var(--color-primary);
    font-weight: 700;
}

.hero {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 1.5rem;
   background-color: var(--color-primary);
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, color-mix(in srgb, var(--color-primary) 98%, transparent), color-mix(in srgb, var(--color-secondary) 85%, transparent));
    z-index: 2;
}

.hero-content {
    position: relative;
    z-index: 3;
    color: var(--color-white);
    max-width: 800px;
    text-align: center;
}

.hero-content h1 {
    color: var(--color-white);
    font-size: 1.8rem;
    line-height: 1.3;
    margin-bottom: 1.5rem;
}

.hero-content p {
    font-size: 1.1rem;
    margin-bottom: 2.5rem;
}

.cta-button {
    background-color: var(--color-accent);
    color: var(--color-primary);
    padding: 0.85rem 2rem;
    font-weight: 600;
    font-family: var(--font-headings);
    border-radius: 8px;
    display: inline-block;
    transition: var(--transition);
    box-shadow: 0 4px 6px var(--shadow);
    text-decoration: none;
}

.cta-button:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
    transform: translateY(-2px);
}

.main-content, .members {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 1.5rem;
}

.main-content {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.main-content h2 {
    font-size: larger;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color-bg);
    padding-bottom: 0.35rem;
}

.panel {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card {
    background-color: var(--color-white);
    padding: 1.5rem;
    border-radius: 8px;
}

.spotlight-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.spotlight {
    border: 1px solid var(--color-bg);
    transition: var(--transition);
}

.spotlight:hover {
    box-shadow: 0 4px 12px var(--shadow);
    transform: translateY(-2px);
}

.spotlight img {
    display: block;
    padding: 1rem;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.membership {
    background-color: var(--color-primary);
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-white);
    display: inline-block;
    padding: 0.15rem 0.5rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

.membership.gold {
    background-color: var(--color-accent);
    color: var(--color-primary);
}

.spotlight .tag {
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-primary);    
    margin: 0.5rem 0 1rem 0; 
}

.spot-info {
    margin-bottom: 1rem;
}

.inlo-line {
    font-size: 0.9rem;
    font-style: italic;
}

.card-link {
    display: inline-block;
    padding-top: 1rem;
    font-size: 0.9rem;
    color: var(--color-secondary);
    font-weight: 600;
    text-decoration: none;
}

.card-link:hover {
    color: var(--color-accent);
}

.weather {
    background-color: var(--color-primary);
    background-image: linear-gradient(to bottom, var(--color-secondary), var(--color-primary));
    color: var(--color-white);
}

.weather h2 {
    color: var(--color-white);
    text-align: center;
    border: none;
    padding-bottom: 0;
}

.weather-info {
    text-align: center;
    padding: 1rem 0;
}

.weather-temp {
    font-size: 3.5rem;
    font-family: var(--font-headings);
    font-weight: 700;
    color: var(--color-accent);
    line-height: 1;
}

.weather-icon {
    margin-bottom: -20px;
}

.weather-desc {
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 500;
}

.weather-detail {
    font-size: 0.85rem;
    opacity: 0.8;
    margin-top: 0.5rem;
}

.weather-divider {
  border: 0;
  border-top: 1px solid var(--divider);
  margin: 10px 0;
}

.forecast-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.forecast-day {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast-day-name {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--color-bg);
  text-transform: uppercase;
}

.forecast-icon {
  width: 40px;
  height: auto;
}

.forecast-temp {
  font-size: 1rem;
  font-weight: 800;
  color: var(--color-accent);
}

.events ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

.events li {
    padding-left: 0.75rem;
    border-left: 3px solid var(--color-accent);
}

.display-method {
    display: inline-flex;
    gap: 0.5rem;
    border-radius: 8px;
    border: 1px solid var(--shadow);
    margin-bottom: 1rem;
}

.btn-view {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
}

.btn-view.active {
  background-color: var(--color-white);
  border-radius: 8px;
}

.members-container.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    place-items: center;
}

.members-container.grid-view .member-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-white);
    border: 1px solid var(--shadow);
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
}

.members-container.grid-view .company-tagline {
    text-align: center;
    font-size: 0.9rem;
    border-bottom: 1px solid var(--shadow);
}

.members-container.grid-view .card-body {
    display: flex;
    gap: 1rem;
    text-align: center;
    padding-top: 0.5rem;
    width: 100%;
    align-items: center;
}

.members-container.grid-view .member-card img {
    padding: 1rem;
    width: 100px;
    height: 100px;
    aspect-ratio: 1;
    object-fit:contain;
    border-radius: 8px;
    box-shadow: 1px 1px 3px var(--shadow);
    margin-top: auto;
}

.members-container.grid-view .company-info {
    flex: 1;
}

.members-container.grid-view .company-info p {
    margin: 0.25rem 0;
    font-size: 0.8rem;
    overflow-wrap: anywhere;
}

.members-container.list-view {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--shadow);
    border-radius: 8px;
}

.members-container.list-view .member-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 1rem;
    align-items: center;
    padding: 12px 16px;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--shadow);
}

.members-container.list-view .member-card img {
    display: none;
}

.members-container.list-view .member-card .company-tagline {
    display: none;
}

.members-container.list-view .card-body,
.members-container.list-view .company-info {
  display: contents;
}

.members-container.list-view .member-card:first-child {
  border-radius: 8px 8px 0 0;
}

.members-container.list-view .member-card:last-child {
  border-bottom: none;
  border-radius: 0 0 8px 8px;
}

.members-container.list-view .member-card:nth-child(even) {
    background-color: var(--color-bg);
}

.members-container.list-view .member-card h2,
.members-container.list-view .member-card p {
    margin: 0;
    font-size: 0.9rem;
    font-weight: normal;
}

.members-container.list-view .company-info p {
    overflow-wrap: anywhere;
}

footer {
    background-color: var(--color-primary);
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
}

footer p {
    font-size: 0.9rem;
}

.site-info {
    color: var(--color-white);
    text-align: left;
}

.site-info p:first-of-type {
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-accent);
}

.social {
    display: flex;
    gap: 1rem;
    padding: 0.5rem 0;
}

.social img {
    width: 44px;
    height: auto;
}

.date {
    color: var(--color-white);
    text-align: left;
}

.date p:first-of-type {
    color: var(--color-accent);
    font-size: 1rem;
    font-weight: 700;
}

.date p:last-of-type {
    color: var(--color-accent);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}