:root {
    --dark-color: #22292b;
    --medium-color: #4b585b;
    --medium-light-color: #e5ebec;
    --light-color: #f9fbfb;
    --heading-font: "Ubuntu", "Tahoma", sans-serif;
    --body-font: "Cabin", "Geneva", sans-serif;
    --hover-color: #d0d6d8;
    --shadow: rgba(0, 0, 0, 0.3);
    --border: rgba(0, 0, 0, 0.1);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    background-color: var(--light-color);
    color: var(--dark-color);
}

h1 {
    text-align: center;
    font-family: var(--heading-font);
    padding-top: 1rem;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 0;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 20px;
    place-items: center;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--medium-light-color);
    border: 1px solid var(--border);
    padding: 16px;
    text-align: center;
    border-radius: 8px;
}

.card .label {
    font-weight: 700;
}

.card .place {
    margin-bottom: 0.2rem;
}

.card img {
    width: 100%;
    height: auto;
    aspect-ratio: 340/440;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow);
    margin-top: auto;
}